<?xml version="1.0"?>
<launch>
  <arg name="ns" default="myrobot"/>
  <arg name="id_subsystem" default="133"/>
  <arg name="id_node" default="64"/>
  <group ns="$(arg ns)">
      <node name="iop_illumination_driver" pkg="iop_component_fkie" type="iop_component">
        <param name="capability_group" value="iop_bridge"/>
        <rosparam param="services">
          [
            iop_illumination_fkie: "Illumination",
            iop_discovery_fkie: "DiscoveryClient",
            iop_accesscontrol_fkie: "AccessControl",
            iop_events_fkie: "Events",
            iop_events_fkie: "EventsClient",
            iop_transport_fkie: "Transport",
          ]
        </rosparam>
        <param name="iop_address" value="$(arg id_subsystem).$(arg id_node).63"/>
        <!-- ON, OFF, 0: not supported, 1: supported (unknown state) -->
        <rosparam param="illuminations">
          [
            head_lights: OFF,
            left_turn_signal: 0,
            right_turn_signal: 0,
            running_lights: ON,
            brake_lights: 0,
            backup_lights: 0,
            visible_light_source: 0,
            ir_light_source: 0,
            variable_light_1: 0,
            variable_light_2: 0,
            variable_light_3: 0,
            variable_light_4: 0,
            high_beams: 0,
            parking_lights: 0,
            fog_lights: 0,
            hazard_lights: 0
          ]
        </rosparam>
    </node>
  </group>
</launch>